4.13) Используюя список l1 создать список, в ктором каждый элемент списка l1 будет заменен значением длинны строки соответствующего элемента в списке l1. Использовать генераторы, решить задачу в одну строку.

In [2]:
print([len(i) for i in ['1', '123', '123', '12', '1', '123']])

[1, 3, 3, 2, 1, 3]

4.14) Подсчитать количество строк в списке l1, длина которых больше 2х. Использовать генераторы, решить задачу в одну строку.

In [4]:
print(len([i for i in ['1', '123', '123', '12', '1', '123'] if len(i) > 2]))

3

4.15) Просуммировать произведение ключей на значения словаря d4.

In [6]:
print(sum([i * k for i, k in {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}.items()]))

910

4.16) На базе словаря d6 составить словарь d7 в котором нет пар ключ-значение с ключами, встречающимися в словаре d5. Использовать генераторы, решить задачу в одну строку.

In [ ]:
d7 = {i: k for i, k in {'e': 20, 'f': 21, 'g': 22, 'h': 23, 'i': 24, 'j': 25, 'k': 26, 'l': 27}.items() if i not in {'a': 3, 'b': 4, 'c': 5, 'd': 6, 'e': 7, 'f': 8, 'g': 9}}

4.17) Создать список, в котором все числа списка l2 умножены на их номер в списке, остальные элементы сохранены на своих местах. Использовать генераторы, решить задачу в одну строку.

In [9]:
list_1 = [i * k for i, k in enumerate([2, 4, -2, -3, 0 , 11 , 3 -1])]
print(list_1)

[0, 4, -4, -9, 0, 55, 12]

4.18) Создать список, в котором все отрицательные числа списка l2 исключены, остальные элементы сохранены на своих местах. Использовать генераторы, решить задачу в одну строку.

In [14]:
print([i if i >= 0 else '' for i in [2, 4, -2, -3, 0 , 11 , 3 -1]])

[2, 4, '', '', 0, 11, 2]

4.19) Создать список, в котором все отрицательные числа списка l2 заменены на их номер в списке, остальные элементы сохранены на своих местах. Использовать генераторы и тернарный оператор, решить задачу в одну строку.

In [17]:
print([[2, 4, -2, -3, 0 , 11 , 3 -1][i] if [2, 4, -2, -3, 0 , 11 , 3 -1][i] >= 0 else i for i in range(len([2, 4, -2, -3, 0 , 11 , 3 -1]))])

[2, 4, 2, 3, 0, 11, 2]

5.1) Написать задокументированную функцию умножения двух чисел. Для каких типов данная функция будет возвращать практически ценный результат? Написать примеры использования этой функции.

In [18]:
def pr(a: int or float, b: int or float) -> int or float:
    '''функция перемножает два числа a и b.
       функция будет возвращать практический ценный результат для типов int и float'''
    return a * b
print(pr(int(input('a = ')), int(input('b = '))))

a = 6
b = 7
42

5.2) Написать функцию умножения принимающую от одного до трех параметров. Написать примеры использования этой функции с разным количеством параметров.

In [19]:
def pr(a: int or float, b: int or float = 1, c: int or float = 1) -> int or float:
    return a * b * c
print(pr(2))
print(pr(2, 5))
print(pr(2, 3, 54))

2
10
324

5.3) Функцию из задания 2 вызвать с приведенными ниже аргументами. Для случая a4 выбрать 3 первых и 3 последних значения.
a1 = (15, 10 ,5)
a2 = (3, 1)
a3 = [2, 35, 55]
a4 = (5, 10 ,15, 20)

In [24]:
print(pr(*(15, 10 ,5)))
print(pr(*(3, 1)))
print(pr(*[2, 35, 55]))
print(pr(*(5, 10 ,15, 20)[:3]))
print(pr(*(5, 10 ,15, 20)[1:4]))

750
3
3850
750
3000

5.4) Реализовать функцию умножения, принимающую неограниченное количество значений. Написать примеры использования этой функции, в том числе с аргументами из задания 3.

In [28]:
def pr(*a) -> int or float:
    k = 1
    for i in a:
        k *= i
    return k
print(pr(*(15, 10 ,5)))
print(pr(*(3, 1)))
print(pr(*[2, 35, 55]))
print(pr(*(5, 10 ,15, 20)[:3]))
print(pr(*(5, 10 ,15, 20)[1:4]))

750
3
3850
750
3000

5.5) Реализовать функции для выполнения четырех арифмитических операций преобразующих целые числа в целое число. Для двух заранее заданных целых чисел выполнить выбранную пользователем арифметическую операцию.

In [30]:
def pro(k):
    if k == '*':
        return 10 * 5  
    elif k == '-':
        return 10 - 5
    elif k == '+':
        return 10 + 5
    elif k == '/':
        return 10 // 5
print(pro(input()))

*
50

5.6) Написать калькулятор для строковых выражений вида '<число> <операция> <число>', где <число> - целое число, например 113, <арифмитическая операция> - одна из операций +,-,*,/(деление нацело),%(остаток от деления),^(возведение в степень). Пример calc('13 - 5') -> 8

In [ ]:
def calc(op):
    if op.find('-') != -1:
        return int(op.split(' - ')[0]) - int(op.split(' - ')[1])
    elif op.find('*') != -1:
        return int(op.split(' * ')[0]) * int(op.split(' * ')[1])
    elif op.find('+') != -1:
        return int(op.split(' + ')[0]) + int(op.split(' + ')[1])
    elif op.find('/') != -1:
        return int(op.split(' / ')[0]) // int(op.split(' / ')[1])
    elif op.find('%') != -1:
        return int(op.split(' % ')[0]) % int(op.split(' % ')[1])
    elif op.find('^') != -1:
        return int(op.split(' ^ ')[0]) ** int(op.split(' ^ ')[1])
print(calc(input()))

5.7) Реализовать функцию которая выводит на экран сообщение вида:
'Автомобиль марки: BMW, модели: X5, цвета: белый, 2006 года выпуска, с пробегом: 215 000 км, c номерным знаком: X012АМ77, цена: 1 115 000 руб.'
В функцию передаются именованные параметры изменяемой части сообщения, лубой из параметров может быть не задан пользователем функции и автоматически заменен на разумное сообщение в соответствующей части строки. Получить вывод текстового сообщения для словарей c1, c2.

In [ ]:
&&&&&&&&&&&&&&&&&&&&&&&

5.8) Написать функцию, которая преобразует целое число (от 0 до 99) в текстовое написание числа на русском языке. Пример: to_text(15) -> 'Пятнадцать'

In [42]:
def to_text(p):
    k = ''
    dic = {1: 'один',
           2: 'два',
           3: 'три',
           4: 'четыре',
           5: 'пять',
           6: 'шесть',
           7: 'семь',
           8: 'восемь',
           9: 'девять',
           10: 'десять',
           11: 'одиннадцать',
           12: 'двенадцать',
           13: 'тринадцать',
           14: 'четырнадцать',
           15: 'пятнадцать',
           16: 'шестьнадцать',
           17: 'семнадцать',
           18: 'восемнадцать',
           19: 'девятнадцать',
           20: 'двадцать',
           30: 'тридцать',
           40: 'сорок',
           50: 'пятьдесят',
           60: 'шестьдесят',
           70: 'семьдесят',
           80: 'восемьдесят',
           90: 'девяносто'}
    if 20 <= p <= 99:
        k += dic[p//10 * 10] + ' '
        p %= 10
    if 1 <= p <= 20:
        k += dic[p]
    if p == 0 and k == '':
        k = 'ноль'
    return k
print(to_text(82))

восемдесят два

5.9) Написать функцию, которая преобразует целое число (от 0 до 999) из текстового представления на руссокм языке в число типа int. Пример: to_int('тридцать три') -> 33

In [45]:
def to_int(p):
    k = 0
    dic = {'один': 1,
           'две': 2,
           'три': 3,
           'четыре': 4,
           'пять': 5,
           'шесть': 6,
           'семь': 7,
           'восемь': 8,
           'девять': 9,
           'десять': 10,
           'одиннадцать': 11,
           'двенадцать': 12,
           'тринадцать': 13,
           'четырнадцать': 14,
           'пятнадцать': 15,
           'шестнадцать': 16,
           'семнадцать': 17,
           'восемнадцать': 18,
           'девятнадцать': 19,
           'двадцать': 20,
           'тридцать': 30,
           'сорок': 40,
           'пятьдесят': 50,
           'шестьдесят': 60,
           'семьдесят': 70,
           'восемьдесят': 80,
           'девяносто': 90,
           'сто': 100,
           'двести': 200,
           'триста': 300,
           'четыреста': 400,
           'пятьсот': 500,
           'шестьсот': 600,
           'семьсот': 700,
           'восемьсот': 800,
           'девятьсот': 900}
    for i in p.split(' '):
        k += dic[i]
    return k
print(to_int(input()))

тридцать три
33

6.1) Написать калькулятор для строковых выражений вида '<число> <операция> <число>', где <число> - не отрицательное целое число меньшее 100, записанное словами, например "тридцать четыре", <арифмитическая операция> - одна из операций "плюс","минус","умножить". Результат выполнения операции вернуть в виде текстового представления числа. Пример calc('двадцать пять плюс тринадцать') -> "тридцать восемь"